$mainColor: #000;
$activeLinkColor: #eee;

.app {
  margin: 0;
  padding: 0;

  .main-nav {
    border: 2px solid $mainColor;
    border-radius: 7px;

    a {
      padding: 10px 15px;
      font-size: 18px;
      color: #000;
      text-decoration: none;
      display: inline-block;

      &.active {
        border-left: 2px solid $mainColor;
        border-right: 2px solid $mainColor;
        background-color: $activeLinkColor;
      }

      &:first-child.active {
        border-left: none;
      }

      &:last-child.active {
        border-left: none;
      }
    }
  }
}