$mainColor: #000;
$activeLinkColor: #eee;

:host {
  margin: 0;
  padding: 0;

  .clearfix {
    overflow: auto;
    zoom: 1;
  }

  .main-nav {
    border-bottom: 2px solid $mainColor;
    box-shadow: 0 2px 5px rgba($mainColor, .4);

    a {
      border-left: 2px solid transparent;
      border-right: 2px solid transparent;
      color: #000;
      display: inline-block;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 15px;
      text-decoration: none;
      transition: background-color .4s;

      &.active {
        background-color: $activeLinkColor;
        border-left-color: $mainColor;
        border-right-color: $mainColor;
      }

      &.active:first-child{
        border-left-color: transparent;
      }

      &[data-direction=left]{
        float: right;
        border: none;
      }
    }
  }

  .search {
    margin-top: 10px;
    width: 100%;

    input {
      border: 2px solid $mainColor;
      border-radius: 12px;

      box-shadow: 0 2px 5px rgba($mainColor, .4);
      float: right;
      font-size: 18px;
      margin: 5px 10px;
      padding: 3px 15px;
      width: 180px;

      &:focus {
        outline: none;
      }
    }
  }
}